################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mslearn-function-app/WatchPortalFunction/.vs
