################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mslearn-azure-functions-and-signalr/start/node_modules
/mslearn-cosmos-db/LearnCosmosDb/obj
/mslearn-storage-blob/learn-blob/obj
/learn-az-auth/.vs
/learn-az-auth/bin
/learn-az-auth/obj
/mslearn-cosmos-db/.vs
/mslearn-cosmos-db/LearnCosmosDb/obj
/mslearn-function-app/.vs
/mslearn-storage-blob/learn-blob/obj
