<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://learneventgridfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e1d1a8d5-b9e1-4fef-a226-b1c568d55d70/resourceGroups/AjinkyaLearnResourceGroup/providers/Microsoft.Web/sites/LearnEventGridFunctionApp</ResourceId>
    <UserName>$LearnEventGridFunctionApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://learneventgridfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>